<h1>Products#edit</h1>

<form action="/products/<%= @product.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Name:</label>
  <input type="text" name="product[name]" value="<%= @product.name %>"><br>

  <label>Price:</label>
  <input type="number" name="product[price]" value="<%= @product.price %>"><br>

  <label>Description:</label>
  <textarea rows="4" cols="40" name="product[description]"><%= @product.description %></textarea><br>

  <input type="submit" name="submit" value="submit">
</form>
